.list {
    margin: 10px;
    overflow-y: scroll;
}

/* 銘柄基本データ */
.stock-board {
    padding: 20px 0px 5px 0px;
    border-bottom: 1px solid #aaa;
}

.list-admin-button-container {
    justify-content: start;
    margin: 10px 10px 0px 0px;
}
.list-admin-button-container button {
    height: 25px;
}
