.form-login {
    width: 90%;
    max-width: 450px;
    margin: 100px auto;
}

.input-block {
    margin: 30px 0;
}
.input-block-input input {
    width: 100%;
    height: 40px;
    font-size: large;
}


