section {
    width: 100%;
    padding: 10px;
}

.section-title{
    font-size: 1.4rem;
    margin: 5px 0;
}

/* 銘柄ボード  */
.stock-board {
    display: block;
    white-space: nowrap;
}

.stock-board-name {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    overflow:scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

.stock-board-info-block {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: flex-end;
    height: max-content;
    margin: 0;
    padding: 0;
}

.stock-board-symbol {
    grid-column: 1;
    color: #999;
    width: auto;
    padding: 0;
    margin: 0;
    height:100%;
}
.stock-board-latest-date {
    grid-column: 2;
}

.stock-board-price {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100px;
    margin: 0 5px;
}
.stock-board-price-int-part {
    text-align: right;
    font-size: 1.6rem;
    line-height: 1;
}
.stock-board-price-decimal-part {
    margin-left: 2px;
    font-size: 0.8rem;
    line-height: 1;
}

.stock-board-diff-block {
    grid-column: 4;
    width: 60px;
    display: flex;
    flex-direction: column;
    
    gap: 3px;
    line-height: 1;
    font-size: 0.9rem;
}


/* チャートセクション */
.chart-container {
    width: 95%;
    margin: 20px auto;
    height: 60vh;
    border: none;
}
#chart {
    width: 100%;
    height: 100%;
}

/* 新規アクション追加セクション */
.trade-list-content {
    display: flex;
    gap: 10px;
}


/* チャートをクリックした時の表 */
.clicked-data-table-container {
    padding: 5px 20px;
}
.clicked-data-table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    table-layout: fixed;
    width: 100%;
}
.clicked-data-table thead {
  background-color: rgb(62, 68, 71);
  color:white;
}
.clicked-data-table th, .clicked-data-table td{
  border: 1px solid rgb(160 160 160);
  padding: 8px 2px;
  min-width:100px;
  text-align: center;
}

/* ローソク足の選択用ラジオボタン */
.select-chart {
  border: none;
  padding: 0 20px;
  margin: 0;
}

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    
}
.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}
.radio-inline__label:hover {
    background-color: #f5c0c0;
}
.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

/* 保有銘柄数量明細 */
.amount-section {
    display:flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 30px;
    background: #111;
    border-radius: 8px;
}
.amount-caption {
    white-space: nowrap;
}
.amount-value {
    font-size: 1.4rem;
    white-space: nowrap;
}

/* 売買履歴 */
#show-modal-button {
    width: 300px;
    height: 70px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px auto;
}

.trade-content {
    display:flex;
    justify-content:left;
    align-items: center;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
}
.trade-content-right {
    padding: 10px;
}
.trade-type {
    font-size: 2.4rem;
    font-weight: 700;
    color: gray;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trade-type.buy-color {
    color: #2196F3;
}
.trade-type.sell-color {
    color: #7bc4ad;
}
.trade-content-button-cotainer {
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 480px) {
    .stock-board-price {
        width: 70px;
    }
    .stock-board-diff-block {
        width: 50px;
    }
}