section {
    width: 100%;
    padding: 10px;
}

.section-title{
    font-size: 1.4rem;
    margin: 5px 0;
}


/* 銘柄ボード  style.cssからの微調整 */
.stock-board-name {
    font-size: 1.6rem;
}

/* チャートセクション */
.chart-container {
    width: 95%;
    margin: 20px auto;
    height: 60vh;
    border: none;
    /* box-shadow: 10px 10px 5px gray; */
}
#chart {
    width: 100%;
    height: 100%;
}

/* 新規アクション追加セクション */
.trade-list-content {
    display: flex;
    gap: 10px;
}


/* チャートをクリックした時の表 */
.clicked-data-table-container {
    padding: 5px 20px;
}
.clicked-data-table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    table-layout: fixed;
    width: 100%;
}
.clicked-data-table thead {
  background-color: rgb(62, 68, 71);
  color:white;
}
.clicked-data-table th, .clicked-data-table td{
  border: 1px solid rgb(160 160 160);
  padding: 8px 2px;
  min-width:100px;
  text-align: center;
}

/* ローソク足の選択用ラジオボタン */
.select-chart {
  border: none;
  padding: 0 20px;
  margin: 0;
  /* text-align: center; */
}

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    
}
.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}
.radio-inline__label:hover {
    background-color: #f5c0c0;
}
.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

/* 保有銘柄数量明細 */
.amount-section {
    display:flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 30px;
    background: #111;
    border-radius: 8px;
}
.amount-caption {
    white-space: nowrap;
}
.amount-value {
    font-size: 1.4rem;
    white-space: nowrap;
}

/* 売買履歴 */
#show-modal-button {
    width: 300px;
    height: 70px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px auto;
}

.trade-content {
    display:flex;
    justify-content:left;
    align-items: center;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
}
.trade-content-right {
    padding: 10px;
}
.trade-type {
    font-size: 2.4rem;
    font-weight: 700;
    color: gray;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trade-type.buy-color {
    color: #2196F3;
}
.trade-type.sell-color {
    color: #7bc4ad;
}
.trade-content-button-cotainer {
    display: flex;
    gap: 10px;
}


/* モーダル画面 */
.modal {
    position: fixed;
    inset: 0;
    z-index: 3000;
}

.modal.hidden {
    display: none;
}

.modal-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(64,64,64,0.9);
}

.modal-content {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 600px;
    background: black;
}

.modal-button-container {
    position: absolute;
    width: 100%;
    padding: 5px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.modal-button-container button{
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
}

.modal-text {
    padding: 10px;
}
.modal-text a {
    color: blue;
    text-decoration: underline;
}

.modal-content-inner {
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding: 30px 30px 50px 30px;
}

.modal-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
.modal-close::before, .modal-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: white;
    transform-origin: center;
}
.modal-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-content-data-block input, .modal-content-data-block select, .modal-content-data-block textarea {
    width: 100%;
    height: 40px;
}
.modal-content-data-block textarea {
    resize: vertical; 
    min-height: 80px;
}

#modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}