* {
    box-sizing: border-box;
}

html { 
    margin: 0; 
    height: 100%; 
    font-size: 16px;
}

body {
    font-family: sans-serif; 
    width:100%;
    max-width: 800px;
    margin: 0 auto;

    background: black;
    color: white;
    /* border: 1px solid red; */
}


button {
    background-color: #2c2d2f;
    color: #8DDDC0;

    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
button:hover {
    background: #999;
}
button:disabled {
    background-color: #666;
    color: #aaa;
}


input {
    font-size: 1rem;
    background: #333;
    color: #fff;
}
input[type="date"] {
    color-scheme: #fff;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}
select {
    font-size: 1rem;
    background: #333;
    color: #fff;
}
textarea {
    font-size: 1rem;
    background: #333;
    color: #fff;
}


hr {
    width: 100%;
    border: 1px solid white;
}

/* 共通で使用する設定 */
.hidden {
    display: none;
}
.admin-button-container {
    display: flex;
    gap: 5px;
}

/* プラスマイナスの色 */
.diff-plus {
    color: red;
}

.diff-minus {
    color: green;
}

.diff-zero {
    color: gray;
}

/* 検索バーの基本レイアウト */
.search-container {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    /* border: 1px solid green; */
}
.search-input-block {
    width: 100%;
}
.search-input {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
}
.search-submit {
    margin: 2px 5px;
}

/* 銘柄ボードの基本レイアウト */
.stock-board {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: flex-end;
    white-space: nowrap;
}

.stock-board-name-block {
    display: block;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}
.stock-board-name {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.stock-board-info-block {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 0.8rem;
    padding: 0 4px 0 0 ;
    margin: 0;
}
.stock-board-symbol {
    color: #999;
    width: auto;
    padding: 0;
    margin: 0;
}
.stock-board-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100px;
    margin: 0 5px;

}
.stock-board-price-int-part {
    /* width: 100px; */
    text-align: right;
    font-size: 1.6rem;
    line-height: 1;

    /* border: 1px solid red; */
}
.stock-board-price-decimal-part {
    /* width: 28px; */
    margin-left: 2px;
    font-size: 0.8rem;
    line-height: 1;

    /* border: 1px solid red; */
}

.stock-board-diff-block {
    width: 60px;
    display: flex;
    flex-direction: column;
     
    gap: 3px;
    line-height: 1;
    font-size: 0.9rem;
}




/* モーダル画面 */
.modal {
    position: fixed;
    inset: 0;
    z-index: 3000;
}

.modal.hidden {
    display: none;
}

.modal-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(64,64,64,0.9);
}

.modal-content {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 600px;
    background: black;
}

.modal-button-container {
    position: absolute;
    width: 100%;
    padding: 5px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.modal-button-container button{
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
}

.modal-text {
    padding: 10px;
}
.modal-text a {
    color: blue;
    text-decoration: underline;
}

.modal-content-inner {
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding: 30px 30px 50px 30px;
}

.modal-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
.modal-close::before, .modal-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: white;
    transform-origin: center;
}
.modal-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-content-data-block input, .modal-content-data-block select, .modal-content-data-block textarea {
    width: 100%;
    height: 40px;
}
.modal-content-data-block textarea {
    resize: vertical; 
    min-height: 80px;
}

#modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 480px) {
	html {
        font-size: 12px;
    }
    .stock-board-price {
        width: 70px;
    }
    .stock-board-diff-block {
        width: 50px;
    }
}