html {
    height: 100%;
}
body {
    overflow: hidden;
}
#main-container {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.list-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}
.section-title {
    padding-left: 2px;
    font-size: 1.6rem;
    font-weight: normal;
    white-space: nowrap;
    margin: 0;
    max-width: 100px;
    overflow: visible;
    color: #ccc;
}
.section-header-button {
    width: 90px;
    height: 40px;
    font-size: 1rem;
    margin: 2px;
    white-space: nowrap;
}

.search-container {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: block;
}
.search-input-block {
    width: 100%;
    height: 100%;
}
.search-input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.operation-button-container {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.operation-button {
    width: 60px;
    height: 32px;
    padding:0;
    white-space: nowrap;
    font-size: 0.8rem;
}

.list {
    margin: 10px 5px;
    overflow-y: scroll;
    flex: 1;
}

/* 銘柄基本データ */
.stock-board {
    padding: 20px 0px 5px 0px;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    white-space: nowrap;
}
.stock-board:last-child {
    margin-bottom: 50px;
}

.stock-board-name-block {
    display: block;
}
.stock-board-name {
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: bold;
}
.stock-board-info-block {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 0.8rem
}
.stock-board-symbol {
    color: #999;
    width: 100px;
}

.stock-board-button-container {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.add-button, .remove-button {
    width: 100%;
    height: 100%;
}

/* 追加ボタンを押した瞬間のアニメーション */
.stock-board.slide-out-right {
    animation: slideOutRight 0.45s cubic-bezier(.4,0,.8,1) forwards;
}

@keyframes slideOutRight {
    to {
        transform: translateX(90%);
        opacity: 0;
    }
}

/* 画面切り替えボタン（画面幅が狭いときのみ表示される） */
footer {
    display: none;
    width: 100%;
    height: 40px;
    padding: 0;

    position: fixed;
    left: 0;
    bottom: 0;
    background: black;
}
.view-switch {
    display: flex;
    flex-direction:row;
    justify-content: space-around;   
    width: 100%;              
    height: 100%; 
    overflow: hidden;
}
.view-switch-button {
    width:50%;
    height: 100%;
    border-radius: 0;
    white-space: nowrap;
    font-size: 1rem;
    background: #0b0985;
    color: #fff;
}
.view-switch-button:hover {
    background: #0b0985;
}
.unselected {
    font-size: 0.8rem;
    background: #ccc;
    color: #777;
}
.unselected:hover{
    background: #aeade4;
}


@media (min-width: 481px) {
    #main-wrapper {
        width: 100%;
        display: flex;
        flex: 1;
    }

    .list-section {
        flex: 1;
        min-width: 0;
    }

    .space-section {
        width: 20px;
    }
}


@media (max-width: 480px) {
    footer {
        display: block;
    }

    #main-container {
        position: relative;
        overflow: hidden;
    }

    #main-wrapper {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0;
        bottom: 0;
        padding: 0;
        display: flex;
        width: 160%;
        transition: transform 0.3s ease;
    }

    .list-section {
        width: 48%;
        flex-shrink: 0;
        min-width: 0;
    }

    .space-section {
        width: 4%;
        /* background-color: #ccc; */
    }

    #main-container.left #main-wrapper {
        transform: translateX(0%);
    }

    #main-container.right #main-wrapper {
        transform: translateX(-38%);
    }
}


